<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
   <ul class="pagination" th:if="${page.totalPages <= 0||page.totalPages ==null||page.totalPages =='' }">
       <li class="paginate_button"><a href="javascript:;" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">共0条</a></li>
       <li class="paginate_button"><a href="javascript:;" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">共0页</a></li>
  </ul>
  <div th:if="${page.totalPages > 0 }">
	<ul class="pagination">
		<li class="paginate_button"><a href="javascript:;" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">共[[${page.totalCount}]]条</a></li>
		<li class="paginate_button"><a href="javascript:;" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">共[[${page.totalPages}]]页</a></li>
	</ul>
	<ul class="pagination">
		<li class="paginate_button previous" th:classappend="${page.pre}?'':'disabled'" id="DataTables_Table_0_previous">
			<a href="javascript:;" class="pre_page">Prev</a>
		</li>
		
		<!-- 小于10页直接显示 -->
		<li th:if="${page.totalPages<=10}" th:each="i:${#numbers.sequence(1, page.totalPages)}" class="paginate_button" th:classappend="${page.pn}==${i}?'active'">
			<a href="javascript:;" class="switch_page">[[${i}]]</a>
		</li>
		
		<!-- 大于10页逻辑处理开始 -->
		<li th:if="${page.totalPages>10 && page.pn>5}" class="paginate_button">
			<a href="javascript:;" class="switch_page">1</a>
		</li>
		<li th:if="${page.totalPages>10 && page.pn>5}" class="paginate_button">
			<a href="javascript:;" class="">...</a>
		</li>
		
		<li th:if="${page.totalPages>10 && page.pn+10<=page.totalPages}" th:each="i:${#numbers.sequence(page.pn, page.pn + 10)}" class="paginate_button" th:classappend="${page.pn}==${i}?'active'">
			<a href="javascript:;" class="switch_page">[[${i}]]</a>
		</li>
		<li th:if="${page.totalPages>10 && page.pn+10>page.totalPages}" th:each="i:${#numbers.sequence(page.pn, page.totalPages)}" class="paginate_button" th:classappend="${page.pn}==${i}?'active'">
			<a href="javascript:;" class="switch_page">[[${i}]]</a>
		</li>
		
		<li th:if="${page.totalPages>10 && page.pn!=page.totalPages}" class="paginate_button">
			<a href="javascript:;" class="">...</a>
		</li>
		<li th:if="${page.totalPages>10 && page.pn<=page.totalPages-3}" th:each="i:${#numbers.sequence(page.totalPages-3, page.totalPages)}" class="paginate_button">
			<a href="javascript:;" class="switch_page">[[${i}]]</a>
		</li>
		<!-- 大于10页逻辑处理结束 -->
		
		<li class="paginate_button next" th:classappend="${page.next}?'':'disabled'" id="DataTables_Table_0_next">
			<a href="javascript:;" class="next_page">Next</a>
		</li>
	</ul>
  </div>
</div>
<script th:src="|${static}/js/jquery-2.1.1.js|"></script>
<script type="text/javascript">
/* 
* url 目标url 
* arg 需要替换的参数名称 
* arg_val 替换后的参数的值 
* return url 参数替换后的url 
*/ 
function changeURLArg(url,arg,arg_val){ 
    var pattern=arg+'=([^&]*)'; 
    var replaceText=arg+'='+arg_val; 
    if(url.match(pattern)){ 
        var tmp='/('+ arg+'=)([^&]*)/gi'; 
        tmp=url.replace(eval(tmp),replaceText); 
        return tmp; 
    }else{ 
        if(url.match('[\?]')){ 
            return url+'&'+replaceText; 
        }else{ 
            return url+'?'+replaceText; 
        } 
    } 
    return url+'\n'+arg+'\n'+arg_val; 
}

$(function(){
	var page_url = window.location.href;
	var c_p = [[${page.pn}]];
	
	$(".pre_page").on("click", function(){
		if(c_p<=1) {
			layer.tips('已经到了第一页', '.pre_page', {
			    tips: [1, '#3595CC'],
			    time: 4000
			});
		} else {
			page_url = changeURLArg(page_url, "pn", c_p-1);
			location.href = page_url;
		}
	});
	
	$(".next_page").on("click", function(){
		if($(this).parent().hasClass("disabled")) {
			layer.tips('已经到了最后一页', '.next_page', {
			    tips: [1, '#3595CC'],
			    time: 4000
			});
		} else {
			page_url = changeURLArg(page_url, "pn", c_p+1);
			location.href = page_url;
		}
	});
	
	$(".switch_page").on("click", function(){
		var pn = $(this).html();
		if(!$(this).parent().hasClass("active")) {
			page_url = changeURLArg(page_url, "pn", pn);
			location.href = page_url;
		}
	});
});
</script>